{% extends 'user/base.html' %}

{% block content %}
<table>
    <tr>
        <th>Username</th>
        <th>Birthday</th>
        <th>Eligible</th>
        <th>Random Number</th>
        <th>BizzFuzz</th>
    </tr>

    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.birthDate }}</td>
        <td>{{ eligible }}</td>
        <td>{{ user.number }}</td>
        <td>{{ fizzbuzz }}</td>
    </tr>

</table>
<button onclick="handleClick('')">Back to list</button>
<button onclick="handleClick('{{ user.username }}_delete')">Delete</button>
<button onclick="handleClick('{{ user.username }}_update')">Update</button>
<script>
function handleClick(username_action){
    window.location.href = window.location.origin + "/" + username_action;
}
</script>
{% endblock %}
